p {
    color:black;
    font-size: 5px;
}
h1 {
    color:blue;
    font-size: 15px;
    text-align:center;
}
h2 {
    color:blueviolet;
    font-size: 10px;
    text align:center;
}
img {
    height: 40px;
    width: 40px;
}
body {
    zoom:100%
}